Package: com.phillipt.classylock
Name: ClassyLock
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: A classy, reimagined lockscreen!
Maintainer: Phillip Tennen
Author: Phillip Tennen
Section: Tweaks
